body {
	background-color: #ddd;
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	text-align: left;
	color: #888;
}

* {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	width: 100%;
}

h3 {
	text-align: left;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}


th, td {
	text-align: left;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

a.edit, a:visited {
  background-color: #00ff00;
  color: white;
  padding: 8px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
a.delete, a:visited {
  background-color: #ff0000;
  color: white;
   padding: 8px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
a.navigate, a:visited {
  background-color: #4CAF50;
  color: white;
  padding: 8px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
a.newuser {
  background-color: #8ae234;
  color: white;
  padding: 8px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
a.listusers {
  background-color: #204a87;
  color: white;
 padding: 8px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
input[type=text], select, textarea {
	width: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=text]:focus {
  background-color: lightblue;
}
input[type=password], select, textarea {
	width: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
input[type=password]:focus {
  background-color: lightblue;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 15%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 85%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}



p {
	color: red;
	font-family: courier;
	font-size: 160%;
}